*{

    margin:0;
    padding:0;
    box-sizing:border-box;
   
}
.body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}


#container{
    width:100%;
    height:100vh;
    background:transparent;
    position:relative;
    
}


.header{
    padding:20px 20px;

}
.logo{
    color: white;
     font-size:30px;
    font-family:sans-serif;

}
span{
    color:rgb(245, 15, 53);
}
nav{
    width:100%;
   display:flex;
justify-content: space-between;
align-items:center;
flex-wrap:wrap;
}
nav ul li a{
    text-decoration:none;
    color:rgb(245, 15, 53);
    font-size:20px;
    font-family:sans-serif;
    position:relative;
}
nav ul li {
    display:inline;
    list-style:none;
    margin:10px 20px;
}
nav ul li a::after{
    content:'';
    width:0;
    height:2px;
    background:white;
    position:absolute;
    left:0;
    bottom:0px;
    transition:0.8s;
    opacity:0;

}
nav ul li a:hover::after{
    width:100%;
    opacity:1;
}
.nav ul li a:hover{
    color:rgb(187, 0, 31);
}

#container img{
    right:20%;
    width:30%;
    height:60vh;
    margin-top:5%;
    bottom:0;
    position:absolute;
}
#container h3{
    font-size:40px;
    color:rgb(212, 157, 157);
    margin-top:10%;
    font-family:'poppins';
    text-align:left;
    margin-left:15%;
}
#container p{
    font-size:20px;
    color:rgb(245, 15, 53);
    font-family:'poppins';
    margin-top:25px;
    margin-bottom:5%;
    margin-left:5%;
}
.bt{
    border:1px solid rgb(245, 15, 53);
    background:black;
    padding:9px 40px;
    margin-top:5%;
    color:rgb(245, 15, 53);
    margin-left:50px;
    text-decoration: none;
    border-radius:30px;
    transition:0.9s;
    font-size:19px;

}
.bt:hover{
    background:rgb(245, 15, 53);
    color:black;

}
.but{
    background:rgb(212, 157, 157);
    border:none;
    color:black;
    
}
.but:hover{
    background:black;
    color:rgb(212, 157, 157);
    border:1px solid rgb(212, 157, 157);
}
.follow{
    height:20%;
    margin-top:30px;
    padding:20px 12px;
    margin-left:30px;
}
.content{
    width:100%;
    height:2px;
    position:absolute;
background:white;
}
#about{
    width:100%;
    height: 100vh;
    padding:30px 20px;
    text-align:center;
}
#about h2 a{
    color:rgb(212, 157, 157);
    font-size:30px;
    font-family:sans-serif;
    margin-top:50px;
    position:relative;
    text-decoration: none;
}
#about h2 a::after{
    background:rgb(245, 15, 53);
    content:'';
    width:0;
    height:3px;
    position:absolute;
    left:0;
    bottom:0px;
    transition:0.9s;
    opacity:0;
}
#about h2 a:hover::after{
    width:100%;
    opacity:1;
}
.column{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:20px;
    height:80vh;
}

.mi{
    width:45%;
    animation: mi-animation 18s ease infinite;
    background: linear-gradient(300deg,rgb(245, 15, 53),rgb(0, 0, 0));
    background-size: 180% 180%;
}

@keyframes mi-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    

.row p{
    font-size:20px;
    font-family:'poppins';
    margin-top:20px;
    color:white;
    text-align:left;

}
.mi p{
    margin-left:25px;
    
}
.mi ul li{
    list-style:none;
    color:rgb(212, 157, 157);
    font-size:18px;
    font-family: 'poppins';
    text-align: left;
    margin-left:60px;
    margin-top:20px;
}

.row h3{
    font-size:25px;
    color:rgb(245, 15, 53);
    font-family:sans-serif;
    margin-top:20px;
    margin-bottom:18px;

}

#contact{
   width:100%;
    height:100vh;
    padding:20px 12px;

}
#contact h2{
 font-size:30px;
 font-weight:bold;
 font-family:sans-serif;
 margin-top:20px;
 text-align:center;
 color:rgb(212, 157, 157);
}
.what{
    width:75%;
    float:left;
    height:80vh;
    margin-top:30px;
    position:relative;
}
.what p{
    margin-top:20px;
    font-size:18px;
    font-family:'poppins';
    color:white;
}
.what a{
    color:rgb(245, 15, 53);
    text-decoration: none;

}
.what a:hover{
    color:rgb(187, 0, 31);
}
.what a:active{
    color:pink;
}
.vertical{
    height:70%;
    width:2px;
    display:inline;
    background:white;
    position:absolute;
    margin-top:2opx;
}
.com{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:30px;
}
form{
    margin-left:20px;
    width:75%;
    height:70%;
}
.form{
    margin-top:20px;
    padding:10px 30px;
    color:rgb(245, 15, 53);
}
.sub{
    background:rgb(245, 15, 53);
    padding:7px 20px;
    margin-top:20px;
    border:1px solid rgb(187, 0, 31);
}
.text{
    padding:40px 30px;
}
.mail{
    color:rgb(212, 157, 157);
    margin-right:2%;
}
.tel{
    color:rgb(212, 157, 157);
    margin-right:2%;
}
.bot{
    color:rgb(212, 157, 157);
    margin-right:2%;
}
footer{
    background:rgb(245, 15, 53);
    padding:20px 10px;
}
footer p{
    color:white;
    font-family:'poppins';
    font-size:18px;
}
.cont{
    width:100%;
    height:2px;
    position:absolute;
    background:rgb(212, 157, 157);
    margin-top:20px;  
}
.cop{
    text-align:center;
    width:100%;
    
}